<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Luxury Car Rental</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belgrano&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>    

    <style>
    
    </style>

   
  </head>
  <body >
    <!-- ---Navbar--- -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id = "scroll-navbar">
      <div class="container nav-container"> 
        <a class="navbar-brand" routerLink=""><h3>Tribute</h3></a>
        

      </div>
    
    </nav>
  
<div class="container row justify-content-start ">
    <div class="col-5 box effect7 mx-auto">
        <div class="display-5 my-5 text-center">Login to Website </div>
        <div>
            <form class="row justify-content-center">
                <div class="mb-3 col-7">
                  <label for="exampleInputEmail1" class="form-label" style="font-size: 2rem;">Username</label>
                  <input type="email" class="form-control my-2" #userName id="userName" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 col-7">
                  <label for="exampleInputPassword1" class="form-label" style="font-size: 2rem;">Password</label>
                  <input type="password" class="form-control my-2" #password id="password">
                </div>
                
                <button type="button" class="btn btn-success col-6 my-5" style="font-size: 1.5rem;" (click)="login(userName.value,password.value)">Login</button>
              </form>
        </div>
    </div>
</div>


</body>