body {
    font-family: 'Poppins', sans-serif !important;
    height: 100vh;
    background-image: url('../../assets/images/loginwp.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding-top: 200px;
    
    font-weight: 700;
  }
  .effect7
{   background-color: white;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}